<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
          @font-face {
            font-family: "Noto Sans";
            font-style: normal;
            font-weight: normal;
            src: url({#asset NotoSans-Regular.ttf @encoding=dataURI}) format('truetype');
          }
          @font-face {
            font-family: "Noto Sans Bold";
            font-style: normal;
            font-weight: normal;
            src: url({#asset NotoSans-Bold.ttf @encoding=dataURI}) format('truetype');
          }
        </style>
        <style>
            {#asset style.css @encoding=utf8}
        </style>        
    </head>
    <body>
<div>
  <div class="template-wrapper" id="invoice-print-page">
    <div class="template invoice-template-container">
      <div class="template-header">
        <div class="template-invoice-data templat-eof-visible">
          <div class="template-logo">
            {{#if (equals options.language 'bg')}}
              {{#if (equals options.stamp 'original')}}
                <img class="template-stamp" src="{#asset stamp-original.png @encoding=dataURI}" />
                <div class="template-stamp template-stamp-original"></div>
              {{/if}}
              {{#if (equals options.stamp 'copy')}}
                <img class="template-stamp" src="{#asset stamp-copy.png @encoding=dataURI}" />
                <div class="template-stamp template-stamp-original"></div>
              {{/if}}
            {{/if}}
            {{#if (equals options.language 'en')}}
              {{#if (equals options.stamp 'original')}}
                <img class="template-stamp" src="{#asset stamp-original_en.png @encoding=dataURI}" />
                <div class="template-stamp template-stamp-original"></div>
              {{/if}}
              {{#if (equals options.stamp 'copy')}}
                <img class="template-stamp" src="{#asset stamp-copy_en.png @encoding=dataURI}" />
                <div class="template-stamp template-stamp-original"></div>
              {{/if}}
            {{/if}}
            {{#unless invoice.company.showLogoOnInvoices}}
            {{#if (equals options.language 'bg')}}
                <div class="template-logo-text">{{ invoice.company.name }}</div>
            {{/if}}
            {{#if (equals options.language 'en')}}
                <div class="template-logo-text">{{ invoice.company.nameEn }}</div>
            {{/if}}
            {{/unless}}
			{{#if invoice.company.showLogoOnInvoices}}
            <img src="{{invoice.company.logoUrl}}"/>
			{{/if}}
          </div>
          <div class="template-right-column templat-eof-visible">
            <h2> {{ deepFind $localizedResource (concat 'app.invoices.type.' invoice.type) }}</h2>
            <p>
              <span class="template-number">№ {{ invoiceNumber invoice.number }}</span>
            </p>
			{{#if invoice.originalNumber}}
            <p>
              <span>{{ deepFind $localizedResource 'app.invoices.preview.forInvoice' }}</span>:
              <span class="template-date">{{ invoiceNumber invoice.originalNumber }}</span>
            </p>
			{{/if}}
			{{#if invoice.originalNumber}}
            <p>
              <span>{{ deepFind $localizedResource 'app.invoices.preview.fromDate' }}</span>:
              <span class="template-date">{{ dateFormat invoice.originalDate }}</span>
            </p>
			{{/if}}
            <p>
              <span>{{ deepFind $localizedResource 'app.invoices.preview.issuedDate' }}</span>:
              <span class="template-date">{{ dateFormat invoice.issuedDate }}</span>
            </p>
            <p>
              <span>{{ deepFind $localizedResource 'app.invoices.preview.eventDate' }}</span>:
              <span class="template-date">{{ dateFormat invoice.date }}</span>
            </p>
			{{#if invoice.deadline}}
            <p>
              <span>{{ deepFind $localizedResource 'app.invoices.preview.deadline' }}</span>:
              <span class="template-date">{{ dateFormat invoice.deadline }}</span>
            </p>
			{{/if}}
          </div>
          <br class="clearboth">
        </div>
      </div>

      <div class="template-section">
        <div class="template-left-column template-text-left template-target">
          <h4 class="template-section-header">{{ deepFind $localizedResource 'app.invoices.preview.recipient' }}</h4>
          <p class="template-highlight">
            {{ tern options.shouldTranslate true invoice.client.nameEn invoice.client.name }}
          </p>
          <p>
            <span class="template-bold-">{{ deepFind $localizedResource 'app.invoices.preview.issuer' }}</span>&nbsp;
            <span>
              {{ tern options.shouldTranslate true invoice.client.issuerEn invoice.client.issuer }}
            </span>
          </p>
          <p>
            <span class="template-bold-">{{ deepFind $localizedResource 'app.invoices.preview.bulstat' }}</span>&nbsp;
            <span>{{invoice.client.bulstat}}</span>
          </p>
          <p>
            <span class="template-bold-">{{ deepFind $localizedResource 'app.invoices.preview.vatNumber' }}</span>&nbsp;
            <span>{{invoice.client.vatNumber}}</span>
          </p>
          <p>
            <span>{{tern options.shouldTranslate true invoice.client.cityEn invoice.client.city}}
              , {{tern options.shouldTranslate true invoice.client.addressEn invoice.client.address}}</span>
          </p>
        </div>

        <div class="template-right-column template-text-left template-target">
          <h4 class="template-section-header">{{ deepFind $localizedResource 'app.invoices.preview.supplier' }}</h4>
          <p class="template-highlight">
            {{tern options.shouldTranslate true invoice.company.nameEn invoice.company.name}}
          </p>
          <p>
            <span class="template-bold-">{{ deepFind $localizedResource 'app.invoices.preview.issuer' }}</span>&nbsp;
            <span>{{tern options.shouldTranslate true invoice.company.issuerEn invoice.company.issuer}}</span>
          </p>
          <p>
            <span class="template-bold-">{{ deepFind $localizedResource 'app.invoices.preview.bulstat' }}</span>&nbsp;
            <span>{{invoice.company.bulstat}}</span>
          </p>
          <p>
            <span class="template-bold-">{{ deepFind $localizedResource 'app.invoices.preview.vatNumber' }}</span>&nbsp;
            <span>{{invoice.company.vatNumber}}</span>
          </p>
          <p>
            <span>{{tern options.shouldTranslate true invoice.company.addressEn invoice.company.address}}</span>
          </p>

        </div>
        <br class="clearboth">
      </div>

	  {{#if invoice.introduction}}
      <div class="template-section">
        <h4 class="template-section-header">
          {{ deepFind $localizedResource 'app.invoices.new.introduction' }}
        </h4>

        <p>{{ invoice.introduction }}</p>
      </div>
	  {{/if}}

      <table class="template-objects-table" maxsize="661">
        <thead>
          <tr>
            <th>
              {{ deepFind $localizedResource 'app.invoices.preview.product.name' }}</th>
            <th style="text-align:center">
              {{ deepFind $localizedResource 'app.invoices.preview.product.measure' }}</th>
            <th style="text-align:center">
              {{ deepFind $localizedResource 'app.invoices.preview.product.quantity' }}</th>
            <th style="text-align:right">
              {{ deepFind $localizedResource 'app.invoices.preview.product.price' }}</th>
            <th style="text-align:right">
              {{ deepFind $localizedResource 'app.invoices.preview.product.value' }}</th>
          </tr>
        </thead>
        <tbody>
		  {{#each invoice.products}}
          <tr class="template-entry">
            <td style="width:300px;">{{ tern @root.options.shouldTranslate true translation name}}</td>
            <td style="width:80px; text-align:center;">{{tern @root.options.shouldTranslate true measure.alternativeName measure.name}}</td>
            <td style="width:80px; text-align:center;">{{fixedNum quantity}}</td>
            <td style="text-align: right;">{{formatNumber price}} {{@root.invoice.currency.name}}</td>
            <td style="text-align: right;">{{formatNumber (mult price quantity)}} {{@root.invoice.currency.name}}</td>
          </tr>
		  {{/each}}
        </tbody>
      </table>
      <div class="template-summary-data" style="padding-bottom:70px;">
        <div class="template-left-column">
          <div class="template-extra-data-row">
            <p>
              <span>{{ deepFind $localizedResource 'app.invoices.preview.valueText' }}</span>:
            </p>
            <p class="template-bold">
            {{#each (numberToWords (fixedNum invoice.totalSum) invoice options)}} 
                {{ deepFind @root.$localizedResource this }}
            {{/each}}
            </p>
          </div>
		  {{#if invoice.noTaxReason}}
          <div class="template-extra-data-row">
            <p>
              {{ deepFind $localizedResource 'app.invoices.preview.noVatReason' }}:
            </p>
            <p class="template-bold">
              {{invoice.noTaxReason.name}} 
            </p>
          </div>
		  {{/if}}
          <div class="template-extra-data-row">
            <p>
              <span>{{ deepFind $localizedResource 'app.invoices.preview.paymentMethod' }}</span>:
              <span class="template-bold">
                {{ deepFind $localizedResource (concat 'app.invoices.paymentMethod.' invoice.paymentMethod) }}
              </span>
            </p>
			{{#if (and (isBankTransfer invoice) invoice.bankAccount)}}
            <div>
              <p>
                <span>{{ deepFind $localizedResource 'app.invoices.preview.bankAccount.name' }}</span>:
                <span class="template-bold">{{invoice.bankAccount.name}}</span>
              </p>
              <p>
                <span>{{ deepFind $localizedResource 'app.invoices.preview.bankAccount.iban' }}</span>:
                <span class="template-bold">{{invoice.bankAccount.iban}}</span>
              </p>
              <p>
                <span>{{ deepFind $localizedResource 'app.invoices.preview.bankAccount.bic' }}</span>:
                <span class="template-bold">{{invoice.bankAccount.bicCode}}</span>
              </p>
            </div>
			{{/if}}
          </div>

        </div>

        <div class="template-right-column" style="width:250px">
          <div class="template-extra-data-row">
            <div class="template-left-column">
              <span>{{ deepFind $localizedResource 'app.invoices.preview.invoiceValue' }}</span>:
            </div>
            <div class="template-right template-bold">
              {{formatNumber (invoiceValue invoice)}} {{invoice.currency.name}}
            </div>
          </div>
          <div class="template-extra-data-row">
            <div class="template-left-column">
              <span>{{ deepFind $localizedResource 'app.invoices.preview.discount' }}</span>:
            </div>
            <div class="template-right template-bold">
              {{invoice.discount}} {{tern invoice.discountType 'percentage' '%' invoice.currency.name}} 
            </div>
          </div>

          <div class="template-extra-data-row">
            <div class="template-left-column">
              <span>{{ deepFind $localizedResource 'app.invoices.preview.taxBase' }}</span>:
            </div>
            <div class="template-right template-bold">
              {{formatNumber (taxBase invoice)}} {{invoice.currency.name}}
            </div>
          </div>
          <div class="template-extra-data-row">
            <div class="template-left-column">
              <span>{{ deepFind $localizedResource 'app.invoices.preview.vatPercentage' }}</span>:
            </div>
            <div class="template-right template-bold">
              {{invoice.vat}} %
            </div>
          </div>
          <div class="template-extra-data-row">
            <div class="template-left-column">
              <span>{{ deepFind $localizedResource 'app.invoices.preview.vatValue' }}</span>:
            </div>
            <div class="template-right template-bold">
              {{formatNumber invoice.tax}} {{invoice.currency.name}} </div>
          </div>
          <div class="template-divider">&nbsp;</div>
          <div class="template-extra-data-row">
            <div class="template-left-column">
              <span style="line-height: 30px;">{{ deepFind $localizedResource 'app.invoices.preview.total' }}</span>:
            </div>
            <div class="template-total template-bold">
              <span>
                {{formatNumber invoice.totalSum}} {{invoice.currency.name}} </span>
            </div>
          </div>
        </div>

        <br clear="all">
      </div>

    {{#if invoice.notes}}
      <div class="template-section" *ngIf="invoice.notes">
          <h4 class="template-section-header">
            {{ deepFind $localizedResource 'app.invoices.new.notes' }}
          </h4>
          <p>{{ invoice.notes }}</p>
      </div>
    {{/if}}

	  {{#if invoice.summary}}
      <div class="template-section">
        <h4 class="template-section-header">
          {{ deepFind $localizedResource 'app.invoices.new.summary' }}
        </h4>

        <p>{{ invoice.summary }}</p>
      </div>
	  {{/if}}

      <div class="template-signatures-container">
        <div class="template-left-column">
          <div style="padding-right: 20px;">
            <span>{{ deepFind $localizedResource 'app.invoices.preview.recipient' }}</span>:
            <span class="template-signature"></span>
            <span class="template-bold">{{invoice.recipient}}</span>
          </div>
        </div>
        <div class="template-right-column" style="text-align: left;">
          <div style="padding-left: 20px;">
            <span>{{ deepFind $localizedResource 'app.invoices.preview.author' }}</span>:
            <span class="template-signature"></span>
            <span class="template-bold">{{invoice.author}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </body>