<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
          @font-face {
            font-family: "Noto Sans";
            font-style: normal;
            font-weight: normal;
            src: url({#asset NotoSans-Regular.ttf @encoding=dataURI}) format('truetype');
          }
          @font-face {
            font-family: "Noto Sans Bold";
            font-style: normal;
            font-weight: normal;
            src: url({#asset NotoSans-Bold.ttf @encoding=dataURI}) format('truetype');
          }
        </style>
        <style>
            {#asset style.css @encoding=utf8}
        </style>      
        <style>
          @page {
            margin-top: 440px;
          }  
        </style>  
    </head>
    <body>
<div>
  <div class="template-wrapper">
    <div class="template" style="margin-top: -20px">

      {{#if invoice.introduction}}
        <div class="template-section">
          <p>{{ invoice.introduction }}</p>
        </div>
      {{/if}}

      <table class="template-objects-table" maxsize="661">
        <thead>
          <tr>
            <th>
              {{ deepFind $localizedResource 'app.invoices.preview.product.name' }}</th>
            <th style="text-align:center">
              {{ deepFind $localizedResource 'app.invoices.preview.product.measure' }}</th>
            <th style="text-align:center">
              {{ deepFind $localizedResource 'app.invoices.preview.product.quantity' }}</th>
            <th style="text-align:right">
              {{ deepFind $localizedResource 'app.invoices.preview.product.price' }}</th>
            <th style="text-align:right">
              {{ deepFind $localizedResource 'app.invoices.preview.product.value' }}</th>
          </tr>
        </thead>
        <tbody>
		  {{#each invoice.products}}
          <tr class="template-entry">
            <td style="width:300px;">{{ tern @root.options.shouldTranslate true translation name}}</td>
            <td style="width:80px; text-align:center;">{{tern @root.options.shouldTranslate true measure.alternativeName measure.name}}</td>
            <td style="width:80px; text-align:center;">{{fixedNum quantity}}</td>
            <td style="text-align: right;">{{formatNumber price}} {{@root.invoice.currency.name}}</td>
            <td style="text-align: right;">{{formatNumber (mult price quantity)}} {{@root.invoice.currency.name}}</td>
          </tr>
		  {{/each}}
        </tbody>
      </table>
      <div class="template-summary-data">
        <div class="template-left-column">
          <div class="template-extra-data-row">
            <p>
              <span>{{ deepFind $localizedResource 'app.invoices.preview.valueText' }}</span>:
            </p>
            <p class="template-bold">
            {{#each (numberToWords (fixedNum invoice.totalSum) invoice options)}} 
                {{ deepFind @root.$localizedResource this }}
            {{/each}}
            </p>
          </div>
		  {{#if (and (equals invoice.vat 0) invoice.noTaxReason) }}
          <div class="template-extra-data-row">
            <p>
              {{ deepFind $localizedResource 'app.invoices.preview.noVatReason' }}:
            </p>
            <p class="template-bold">
              {{invoice.noTaxReason.name}} 
            </p>
          </div>
		  {{/if}}
          <div class="template-extra-data-row">
            <p>
              <span>{{ deepFind $localizedResource 'app.invoices.preview.paymentMethod' }}</span>:
              <span class="template-bold">
                {{ deepFind $localizedResource (concat 'app.invoices.paymentMethod.' invoice.paymentMethod) }}
              </span>
            </p>
			{{#if (and (isBankTransfer invoice) invoice.bankAccount)}}
            <div>
              <p>
                <span>{{ deepFind $localizedResource 'app.invoices.preview.bankAccount.name' }}</span>:
                <span class="template-bold">{{invoice.bankAccount.name}}</span>
              </p>
              <p>
                <span>{{ deepFind $localizedResource 'app.invoices.preview.bankAccount.iban' }}</span>:
                <span class="template-bold">{{invoice.bankAccount.iban}}</span>
              </p>
              <p>
                <span>{{ deepFind $localizedResource 'app.invoices.preview.bankAccount.bic' }}</span>:
                <span class="template-bold">{{invoice.bankAccount.bicCode}}</span>
              </p>
            </div>
			{{/if}}
          </div>

        </div>

        <div class="template-right-column" style="width:250px">
          <div class="template-extra-data-row">
            <div class="template-left-column">
              <span>{{ deepFind $localizedResource 'app.invoices.preview.invoiceValue' }}</span>:
            </div>
            <div class="template-right template-bold">
              {{formatNumber (invoiceValue invoice)}} {{invoice.currency.name}}
            </div>
          </div>
          <div class="template-extra-data-row">
            <div class="template-left-column">
              <span>{{ deepFind $localizedResource 'app.invoices.preview.discount' }}</span>:
            </div>
            <div class="template-right template-bold">
              {{invoice.discount}} {{tern invoice.discountType 'percentage' '%' invoice.currency.name}} 
            </div>
          </div>

          <div class="template-extra-data-row">
            <div class="template-left-column">
              <span>{{ deepFind $localizedResource 'app.invoices.preview.taxBase' }}</span>:
            </div>
            <div class="template-right template-bold">
              {{formatNumber (taxBase invoice)}} {{invoice.currency.name}}
            </div>
          </div>
          <div class="template-extra-data-row">
            <div class="template-left-column">
              <span>{{ deepFind $localizedResource 'app.invoices.preview.vatPercentage' }}</span>:
            </div>
            <div class="template-right template-bold">
              {{invoice.vat}} %
            </div>
          </div>
          <div class="template-extra-data-row">
            <div class="template-left-column">
              <span>{{ deepFind $localizedResource 'app.invoices.preview.vatValue' }}</span>:
            </div>
            <div class="template-right template-bold">
              {{formatNumber invoice.tax}} {{invoice.currency.name}} </div>
          </div>
          <div class="template-divider">&nbsp;</div>
          <div class="template-extra-data-row">
            <div class="template-left-column">
              <span style="line-height: 30px;">{{ deepFind $localizedResource 'app.invoices.preview.total' }}</span>:
            </div>
            <div class="template-total template-bold">
              <span>
                {{formatNumber invoice.totalSum}} {{invoice.currency.name}} </span>
            </div>
          </div>
        </div>

        <br clear="all">
      </div>

    {{#if invoice.notes}}
      <div class="template-section" *ngIf="invoice.notes">
          <h4 class="template-section-header">
            {{ deepFind $localizedResource 'app.invoices.new.notes' }}
          </h4>
          <p>{{ invoice.notes }}</p>
      </div>
    {{/if}}

	  {{#if invoice.summary}}
      <div class="template-section">
        <p>{{ invoice.summary }}</p>
      </div>
	  {{/if}}

      <div class="template-signatures-container">
        <div class="template-left-column">
          <div style="padding-right: 20px;">
            <span>{{ deepFind $localizedResource 'app.invoices.preview.recipient' }}</span>:
            <span class="template-signature"></span>
            <span class="template-bold">{{invoice.recipient}}</span>
          </div>
        </div>
        <div class="template-right-column" style="text-align: left;">
          <div style="padding-left: 20px;">
            <span>{{ deepFind $localizedResource 'app.invoices.preview.author' }}</span>:
            <span class="template-signature"></span>
            <span class="template-bold">{{invoice.author}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </body>
    </html>